.adownload{ display: inline-block; padding: 5px 15px; border: 1px solid #ddd;}
.production{ padding-left: 20px; height:50px;}
.energy input,.waste_gas input,.clinker input{ width: 80px; height: 34px; padding: 6px 12px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px;}
#denitrification input{ width:auto; height: auto; padding: 0; border: none;}
#denitrification .checkbox{ margin-right: 10px;}
.box td,.box th{text-align: center;}
.otherdata{ margin-left: 20px;}
.yao_type input{ width: 50px;}
#submit{margin-left: 90%;}
.online_h1{ border-bottom: 1px solid #C8B89F; padding: 8px 0; text-align: center;}
/******inquire*****/
.ablock{display:inline-block; padding-bottom:5px; margin-left:14px; text-decoration:none; margin-bottom: 10px;}
a.ablock:hover{text-decoration: none;}
a:focus{ text-decoration: none;}
